extends layout

block content
  h1 #{title}: #{movie.title}
  
  p #[strong Movie:] 
    a(href=movie.director.url) #{movie.director.first_name}
  p #[strong Description:] #{movie.description}
  p #[strong Release Date:] #{movie.release_date}
  p #[strong Stars:]#{movie.stars}