extends layout

block content

  h1 #{title}: #{star.name}
  p= star.lifespan
  
  if star_movies.length
  
    p #[strong Delete the following movies before attempting to delete this star.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Movies
    
      dl
      each movie in star_movies
        dt 
          a(href=movie.url) #{movie.title}
        dd #{movie.description}

  else
    p Do you really want to delete this Star?
    
    form(method='POST' action='')
      div.form-group
        input#starid.form-control(type='hidden',name='starid', required='true', value=star._id )

      button.btn.btn-primary(type='submit') Delete